    <div class="container-fluid">
        <footer class="py-3 my-4">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Carte & Menu</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Galerie</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Reservation de table</a></li>
          </ul>
          <div class="horaire">
            <h3>Horaire du Quai Antique <img src="ouvert.png" alt="" width="40px"></h3>
            <div class="jour"><h4>Lundi</h4><p>11H30 - 13H00 <br> 19H00 - 21H00</p></div>
            <div class="jour"><h4>Mardi</h4><p>11H30 - 13H00 <br> 19H00 - 21H00</p></div>
            <div class="jour"><h4>Mercredi</h4><p>11H30 - 13H00 <br> 19H00 - 21H00</p></div>
            <div class="jour"><h4>Jeudi</h4><p>11H30 - 13H00 <br> 19H00 - 21H00</p></div>
            <div class="jour"><h4>Vendredi</h4><p>11H30 - 13H00 <br> 19H00 - 21H00</p></div>
            <div class="jour"><h4>Samedi</h4><p>11H30 - 13H00 <br> 19H00 - 21H00</p></div>
            <div class="jour"><h4>Dimanche</h4><img src="close.png" alt="" width="30px"></div>
          </div>
          <p class="text-center text-muted">&copy; 2023  QuaiAntique, Inc</p>
        </footer>
      </div>