{% extends "base.html.twig" %}
{% block title %}Quai Antique
{% endblock %}

{% block body %}
	<div class="card" style="width: 18rem;">
		<img src="..." class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Hamburger Savoyard</h5>
		</div>
	</div>
{% endblock %}
